<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box mt-6">
  <div class="flex-1 px-2 mx-2">
  <%= link_to root_path do%>
    <span class="text-lg font-bold">
            TakoyaKom
          </span>
          <% end %>
  </div> 
  <div class="flex-none">
  <%= link_to new_user_session_path do %>
    <button class="btn btn-square btn-ghost">
      
      <svg xmlns="http://www.w3.org/2000/svg" class="w-14 h-8" width="24" height="24" viewBox="0 0 24 24" style="fill:currentColor;transform:;-ms-filter:"><path d="M13 16L18 12 13 8 13 11 4 11 4 13 13 13z"></path><path d="M20,3h-9C9.897,3,9,3.897,9,5v4h2V5h9v14h-9v-4H9v4c0,1.103,0.897,2,2,2h9c1.103,0,2-0.897,2-2V5C22,3.897,21.103,3,20,3z"></path></svg>
    </button>
    <% end %>
  </div>
</div>
