<h1>Hello! View other seller pages here!</h1>
<% if current_user.seller_page.nil?%>
    <%= link_to 'New Seller Page', new_seller_page_path %>
<% else %>
    <%= link_to 'View Your Seller Page', seller_page_path(current_user.seller_page) %>
<% end %>
    