<%# <h1>Hello! View other seller pages here!</h1> %>
<% if @seller_pages %>

<%= paginate @seller_pages %>

  <% @seller_pages.each do |seller| %>
  <div class="card lg:card-side shadow mb-6 mt-6" data-theme="bumblebee">
  <div class="card-body">
    <h2 class="card-title"><%= seller.business_name %>
    <% if seller.verified? %>
      
    <div class="badge badge-success mx-2">Verified</div>
    <% end %>
    </h2> 
    <p><%= seller.business_info %></p> 
    <div class="justify-end card-actions">
    <%= link_to seller_page_path(seller.slug) do%>
      <button class="btn btn-primary">Show</button> 
      <% end %>
      
    </div>
  </div>
</div>

<% end %>



  <br>
<% end %>

    