<div class="card shadow h-screen">
  <div class=" card-body  bg-base-200" data-theme="bumblebee">
  
    <div class="flex justify-center">
      <div class="flex justify-center mt-12">
        <div class="flex justify-center">
          <%= render 'form', seller_page: @seller_page %>
        </div>
      </div>
    </div>
  </div>
</div>
